/* Our CSS file. */


.container, .content {
width: 100%;
height: 100%;
}


.page-logo{
    width: 150px;
    height: 150px;

}
ul li {
    list-style-type:none;
}
body{
    border: 1px solid black;
}
header {
    border: 1px solid black;
    padding: 10px;
    margin: 10px;
}

.page-header{
    background-color: aqua;
    height: 150px;
    
    
}
.page-header form{
    display: inline-block;
    float: right;
    margin-top: 30px;
    margin-right: 20px;
}
header navbar {
    border: 1px solid black;
}
header navbar nav ul{
    text-align: center;
    border: 1px solid black;
    padding: 10px;
}

header navbar nav ul li {
    
    display: inline-block;
    margin: 0px 30px;

}

.page-body{
    display: inline-block;
    width: 100%;
}
.page-body aside , .page-body section{
    display: inline-block;
    border: 1px solid black;
    margin: 0px 10px;
    vertical-align: top;
}
.page-body aside{
    width: 20%;
}
.page-body section{
    width: 40%;
}



.left-sidebar ul li, .right-sidebarul li {
    margin: 15px 0px;

}

.post-img {
    width: 150px;
    height: 200px;
    display: inline-block;
}
.row .post-img{
    display: inline-block;
    margin: 5px;
}
footer{
    margin: 10px;
    padding: 10px;
    border: 1px solid black;

}